/* MyInfo.js */
.info-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.keyword-container {
    width: calc(100% - 30px);
    height: 150px;
    border-radius: 20px;
    border: 2px solid #2670FF;
    overflow: auto; /* 추가된 속성 */
    display: flex;
    margin-bottom: 20px;
}

.keyword-container > div {
    display: flex;
    height: calc(100% - 20px);
    flex-direction: column;
}

.keyword-edit {
    width: 100px;
    height: 20px;
    background-color: #d9d9d9;
    margin-top: 10px;
    color: black;
}

.select-button {
    width: 140px;
    height: 30px;
    font-size: 14px;
    color: black;
    margin-top: 15px;
}

.keyword {
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #2670FF;
    border-radius: 17px 0 0 17px;
    padding: 10px;
}

.select-keyword {
    flex: 5;
    padding: 10px;
}

.selected-item {
    display: inline-block;
    width: 80px;
    height: 25px;
    font-size: 12px;
    background-color: #CAD0FF;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.keyword-modal {
    width: 500px;
}

.remove {
    margin-left: 5px;
    cursor: pointer;
}

/* MyRoadmap.js */
.MyRoadmapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    max-width: 1150px;
    box-sizing: border-box;
    margin: 60px auto;
}

.no-roadmap {
    text-align: center;
}

.move-roadmap {
    background-color: #02225F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
}

.move-roadmap:hover {
    background-color: #434190;
    transform: scale(1.05);
}

.SelectBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
    width: 100%;
    max-width: 700px;
}

.Select {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    background-color: #ADB6FF;
    border: 1px solid #ccc;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}

.SelectButton {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    height: 40px;
    background-color: #02225F;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.SelectButton:hover {
    background-color: #434190;
}

.ContentImg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
