.selectBox {
    text-align: center;
    font-size: 15px;
}

.select {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    background-color: #ADB6FF;
}

.selectBtn {
    height: 30px;
}
