.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.profile-container {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    margin: 40px 40px 20px 40px;
}

.alarm {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: 0;
}

.editButton {
    width: 80px;
    height: 30px;
    background-color: #ADB6FF;
    float: right;
}

.profile-img {
    width: 150px;
    height: 150px;
    background-image: url('/public/profile/suya.png'); /* 이미지 경로 설정 */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 섀도우 효과 */
}

.homeButton,
.roadmapButton {
    width: calc(100% - 30px);
    max-width: 340px;
    height: 40px;
    margin: 15px;
    border-radius: 15px;
}

.homeButton {
    background-color: #9CB5DA;
}

.roadmapButton {
    background-color: #02225F;
    color: white;
}