.container-form {
  margin-top: 5px;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.SubjectTable {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  table-layout: fixed;
}

.SubjectTable th {
  color: gray;
  font-weight: normal;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.SubjectTable td {
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}

.pageNation-container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  margin-left: 1000px;
}

.pageNation-container button {
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.pageNation-container button.active {
  background-color: #007bff;
  color: white;
}

.label-title {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
}

.semester-form {
  margin-left: 10px;
}

.search-form {
  margin-left: 700px;
  align-items: center;
  background-color: #f2f8ff;
  border-radius: 5px;
  margin-top: 15px;
  height: 38px;
  border: none;
  outline: none;
}

.short-form {
  margin-left: 10px;
  align-items: center;
  background-color: #f2f8ff;
  border-radius: 5px;
  margin-top: 15px;
  height: 38px;
  border: none;
  outline: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close {
  margin-left: 450px;
}

.background-completed {
  background-color: #eeeeee;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  color: #c4c4c4;
  padding: 3px 10px;
}

.background-highly-recommended {
  background-color: #ffc5c5;
  border: 1px solid #df0404;
  border-radius: 4px;
  color: #df0404;
  padding: 3px 10px;
}

.background-recommended {
  background-color: #16c098;
  border: 1px solid #00b087;
  border-radius: 4px;
  color: #00b087;
  padding: 3px 28px;
}

.pstyle {
  font-size: 30px;
  background: linear-gradient(to top, #ffec41 80%, transparent 100%);
  width: 160px;
  margin: auto;
}
