.all-container {
    width: calc(100% - 40px);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.section {
    border: 1px solid black;
    margin: 40px;
    padding: 10px 20px 20px;
    position: relative;
}

.add-container {
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 10px;
    background-color: #ADB6FF;
    font-weight: bold;
}

.content-box {
    list-style-type: none;
    padding-left: 0;
    margin-top: 40px;
}

.content-box li, .content-box ol {
    margin-bottom: 5px;
}
